{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="{% static 'img/figure/inner-page-banner1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Register Page</h1>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Login Area Start Here -->
<section class="login-page-wrap padding-top-80 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="login-box-layout1">
                    <div class="section-heading heading-dark">
                        <h2 class="item-heading">Register FORM</h2>
                    </div>
                    <form class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">First Name</label>
                                <input class="main-input-box" id="first_name" type="text" placeholder="" />
                            </div>
                            <div class="col-md-6">
                                <label class="mb-3">Last Name</label>
                                <input class="main-input-box" id="last_name" type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">Email </label>
                                <input class="main-input-box" id="email" type="email" placeholder="" />
                            </div>
                            <div class="col-md-6">
                                <label class="mb-3">Phone Number</label>
                                <input class="main-input-box" id="phone" type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="mb-3">Username </label>
                                <input class="main-input-box" type="text" id="loginUsername" placeholder="" />
                            </div>
                            <div class="col-md-6">
                                <label class="mb-3">Password</label>
                                <input class="main-input-box" type="password" id="loginPassword" placeholder="" />
                            </div>
                        </div>
                        <div class="btn-area">
                            <button class="btn-fill btn-primary" type="submit" value="signup" onclick="register()">Submit<i class="flaticon-next"></i></button>
                        </div>
                    </form>
                    <label>Or Connect With Social Networks</label>
                    <div class="login-box-social">
                        <ul>
                            <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 sidebar-widget-area sidebar-break-md">
            </div>
        </div>
    </div>
</section>


{% endblock %}